{% extends "base.html" %}

{% block start %}
<h1>{{ user.username }}'s Profile</h1>

<h2>Posts</h2>
<ul>
    {% if posts %}
        {% for post in posts %}
            {% if post.author == request.user or post.privacy == 'public' %}
                <li>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                    <p>Created on {{ post.created_at }}</p>
                    <a href="{% url 'post_detail' post.id %}">View Post</a>

                    {% if post.author == request.user %}
                        <a href="{% url 'edit_post' post.id %}" class="btn btn-warning">Edit</a>
                        {% if post.privacy == 'private' %}
                            <p>This post is private and visible only to you.</p>
                        {% endif %}
                    {% elif post.privacy == 'private' %}
                        <p>This post is private and visible only to you.</p>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>{{ user.username }} has not posted anything yet.</p>
    {% endif %}
</ul>
{% endblock %}
